{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
<h2>Create a new user</h2>
<form action="/users/new" method="POST">
    <div class="form-group">
        <label>First Name</label>
    <input type="text" name="first_name" placeholder="Enter your first name">
    </div>
    <div>
        <label>Last Name</label>
    <input type="text" name="last_name" placeholder="Enter your last name">
    </div>
    <div>
        <label>Image URL</label>
    <input type="url" name="img-url" placeholder="Enter your URL">
    </div>

    <input class="green-button" type="Submit" value="Add" class="btn btn-primary mb-2">
</form>
{% endblock content %}
